@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.OtherPages>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}

<section class="inner-banner" style="background: url(@Model.Value("mainImage")) center center no-repeat;">
    <div class="container">
        <h1>@Model.Name</h1>
    </div>
</section>

<section class="otherPage">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            @Model.Value("description")
        </div>
    </div>
</div>
</section>
@await Umbraco.RenderMacroAsync("GetInTouch")