@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage

<section class="contact-section">
        <div class="row g-0">
            <div class="col-md-12 ms-auto">
                <div class="get-in-touch">
                    <div class="heading-panel">
                        <span class="d-block">Get in touch today</span>
                        <h1 class="text-white mb-60">Suppliers of the finest<br />Handmade Bricks</h1>
                        <a class="btn btn-light" href="/contact-us">
                            contact us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>